@use '../abstracts/variables' as *;

.cardTitle {
  font-family: $primaryFont;
  color: $dark;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
