@forward 'fonts';

// Fonts
$primaryFont: "Montserrat", sans-serif;

// Colors
$baseW: #fafafa;
$neutralLight: #e6e7e3;
$neutralMedium: #c7cbc2;
$neutralDark: #808c73;
$neutralExtraDark: #575b52;
$dark: #333630;

// Primary
$primaryExtraLight: #e7f3d8;
$primaryLight: #b6da8b;
$primary: #8bc547;
$primaryDark: #588028;
$primaryExtraDark: #354e18;
