@use '../abstracts/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: $baseW;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.sizeS {
  width: 192px;
  height: 220px;
}
.sizeM {
  display: grid;
  grid-template: auto / min-content auto;
  width: 508px;
  height: 137px;
}
.sizeL {
  width: 343px;
  height: 389px;
}
